h1, p {
	margin: 0px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	overflow-x: hidden;
}

#inicio > img {
	width: 200px;
	height: 200px;
	padding: 30px;
}

.inicio-imgs {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.tres {
	align-self: flex-end;
}

.uno {
	align-self: flex-start;
}

nav {
	position: fixed;
	background-color: #F7F7F7;
	left: 0px;
	top: 0px;
	height: 100%;
}

header {
	background-color: #2A4456;
	height: 80px;
}

header h1 {
	color: #A0F8FB;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
